<!-- Footer -->
<footer class="py-5" style="background-color: #1F3CB9">
    <div class="container">
      <p class="m-0 text-center text-white">&copy; Geoffrey Roux, Pothuaud Adrian, Guillaume Lesieur</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/js/script.js"></script>