<%# views/gameDetails.ejs %>

<% extend('layout') %>
<br/>

<!-- <%= game %> -->



<div class="row">

  <table class="table">
    <tbody>
      <td>  <%= game.GameId %></td>

    </tbody>
  </table>
</div>
