<!DOCTYPE html>
<html>
<head>
    <% include ../partials/header.ejs %>
</head>

<body>

    <% include ../partials/nav.ejs %>
    <!-- Page Content -->
    <div class="container">
        <%- content %>
    </div>
    <!-- /.container -->
    <% include ../partials/foot.ejs %>
</body>
</html>